[tool.ruff]
line-length = 100


[tool.ruff.lint]
select = ["E", "F", "I"]
# Allow prints and placeholder-less f-strings
ignore = ["T201", "F541"]

[tool.ruff.lint.isort]
known-third-party = ["plotly", "pandas", "numpy", "yfinance"]

[tool.ruff.lint.per-file-ignores]
"test_*.py" = ["E402", "F401", "E501"]
"backtest.py" = ["I001"]
"cache_utils.py" = ["I001"]
"stockdata_retriever.py" = ["I001"]
